@font-face {
  font-family: 'Lekton-Bold';
  src: url('/Lekton-Bold.ttf');
  font-weight: bold;
  font-display: block;
}
body {
  background-color: hsl(0, 0%, 0%);
  margin: 0;
  overflow: hidden;
}
#app {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#arena {
  position: relative;
  width: 100vw;
  height: 100vh;
  aspect-ratio: 1 / 1;
  background-color: hsla(0 0% 0% / 0);
}
.corner {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  width: 13vmin;
  height: 13vmin;
}
.cornerLabel {
  font-family: 'Lekton-Bold';
  font-size: 10vmin;
  text-align: center;
}
#cornerTopLeft {
  top: 0;
  left: 0;
}
#cornerTopRight {
  top: 0;
  right: 0;
}
#cornerBottomLeft {
  bottom: 0;
  left: 0;
}
#cornerBottomRight {
  bottom: 0;
  right: 0;
}
#ring {
  position: absolute;
  width: 98vmin;
  height: 98vmin;
  border: 1vmin solid;
  border-radius: 50%;
}